.default_content {
    width: 100%;
    min-height: 100vh;
}

.dh {
    min-height: 100vh !important;
}

.center-xy{
    top: 50%;
    margin-top: 10px;
    margin: 0px 20px; 
}

.border-radius{
    border-radius: 10px;
}

.row, form {
    margin-bottom: 0px;
}

.container {
    min-width: 100%;
    margin: 0px;
}

.btn-lost {
    border-radius: 50px;
    cursor: pointer;
    border-style: solid;
    border-width: 2px;
    border-color: azure;
    transition: all 0.2s;
}

.btn-lost:hover {
    border-color: azure;
    background-color: #fff;
    transition: all 0.2s;
}

.gambiarra{
	color: #ffffff;	
    display: block;
    width: 100%;
	padding: 15px;
    transition: all 0.2s;
}
.gambiarra:hover {
    color: #333;
    transition: all 0.2s;
}

.btn-width {
    width: 46%;
    margin: 0px 5px;
    border-radius: 50px;
}

.btn-width-large {
    width: 100%;
    margin: 0px 5px;
    border-radius: 50px;
}

.content-register {
    position: relative;
    padding: 0px 50px 50px 50px;
    min-height: 100%;
}

.pos-relative {
    position: relative !important;
}

.center-div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.foto-register, .foto-register-info {
    position: relative;
    width: 100%;
    max-width: 350px;
    min-width: 300px;
    min-height: 222px;
    height: 100%;
    max-height: 222px;
    transform: scale(1);
    transition: all 0.2s;
    cursor: pointer;
}

.foto-register:hover {
	transform: scale(1.4);
	transition: all 0.2s;
}

.foto-register-info{
    height: 350px !important;
    max-height: 350px !important;
}

.alter-textarea{
    position: absolute !important;
    top: -16px !important;
    resize: none !important;
}

textarea{
    width: 97%;
    position: absolute;
    outline: none;
    padding: 10px;
    height: 222px;
    top: -14px;
    resize: none;
}

.dh-textarea{
    position: relative;
    width: 300px;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #ddd;
}

::-webkit-scrollbar-thumb {
    background: #666;
}

.display-flex{
    display: flex;
    flex-wrap: wrap;
}

.dp{
    padding: 10px;
}

.dp-t{
    padding-top: 10px;
}

.dm-b{
    margin-bottom: 10px;
}

.btn-search{
    height: 46px;
}

.card-lost{
    width: 350px;
    position: relative;
    height: 440px;
    margin: 0px 10px 10px 0px;
    background-color: #6e83d6;
    border-radius: 10px;
}

nav{
    background-color: #6e83d6;
}

.map_style{
	position: absolute;
	width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
}

.area_listagem_off{
    display: none;
}

.area_listagem_on{
	position: absolute;
	width: 100%;
	min-height: calc(100% - 64px) /* 64px do menu + 0px da margem entre menu e card */;
	display: flex;
	flex-wrap: wrap;
    background-color: #fff;   
    padding: 10px;
    overflow: hidden;  
}

.content-lost{
    padding: 30px;
    display: inline-block;
}

.dp{
    padding: 10px;
}

.dp-f{
    padding: 10px !important;
}

.foto_pet{
	position: relative;
	width: 100%;
	height: 195px;
	background-color: #fff;
}

.area_foto{
	position: relative;
	width: 100%;
	display: flex;
	justify-content: center;
	margin-bottom: 10px;
}

.desc_pet, .desc_info_pet{
	font-family: "Century Gothic","Verdana";
	color: #000;
	white-space: nowrap;
}

tr{
    border: none;
}

.desc_pet{
	font-size: 18px;
	font-weight: none;
	text-align: center;
	padding: 0px 0px 0px 0px;
}
.desc_info_pet{
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	padding: 0px 0px 12px 0px;
}

.btn_info{
	position: relative;
	width: 100%;
	height: 30px;
	text-align: center;
	border: none;
	outline: none;
	background-color: #fff;
	color: #000;
	padding: 5px;
	cursor: pointer;
	outline: none;
}

table{
	display: flex;
	justify-content: center;
}

.quadro_pet{
	position: relative;
	width: 350px;
	height: 500px;
	background-color: #6e83d6;
    padding: 30px;
    
}

.popup-off, .popup-on{
    width: 100%;
    position: relative;
    z-index: 9;
    transition: all 0.3s;
    background-color: #fff;
    min-height: 100% !important;
    top: 0px;
    bottom: 0px;
}

.dinamic-height{
    height: 100%;;
}

.popup-off{
    margin-left: -100%;
    height: 0px !important;
    max-height: 0px !important;
}

.popup-on{
    margin-left: 0%;
    overflow: hidden;
    min-height: 0px;
}


.content-popup{
    position: relative !important;  
     
}


.map-view-info-off{
    height: 0px !important;
}

.map-view-info-on{
    position: relative;
    height: 400px !important;
    width: 100% !important;
}

.marginNone{
    margin: 0px !important;
}

.poup-return{
    width: 100%;
    background-color: #6e83d6;
    padding: 10px;
    text-align: center;
    user-select: none;
    font-size: 1.5em;
    color: #fff;
    
}

.title-popup, .subtitle-popup{
    text-align: center;    
}   

.title-popup{
    margin-bottom: 2px;
    color: #000;
}

.subtitle-popup{
    margin-top: 0px;   
    margin-bottom: 0px; 
    color: #333;   
}


.scrollY{
    overflow-y: scroll;
}

.height-popup-ctx{
    min-height: 400px !important;    
}

.content-container{
    position: relative;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.container-div{
    position: relative;
    width: 100%;
    height: 100%;

}


.table-popup{
    justify-content: left;
    margin: 0px;
    padding: 0px;
}

.fechar-tudo{
    position: absolute !important;
    width: 0px !important;
    height: 0px !important;
    overflow: hidden !important;
    z-index: 0 !important;
}

.btn-open-map{
    width: 50px;
    background: #6e83d6;
    display: flex;
    justify-content: center;
    align-items: center;
    user-select: none;
    cursor: pointer;
}

.btn-achei{
    width: 100%;
    height: 50px;
	text-align: center;	
	background-color: #4caf50;
	color: #fff;
	padding: 5px;
	cursor: pointer;
	outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-top: 40px;
}