/*Configurações de estilos padrões para todo o projeto.*/

*{
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

html, body{
	width: 100%;
	height: 100%;
}

.flex_padrao{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}