<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta>
    <title>lostpet | login</title>
    <link rel="stylesheet" type="text/css" href="../css/materialize.css">
    <link rel="stylesheet" type="text/css" href="../css/custom.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>

	<div class="container">
        <div class="row">
            
            <!-- content -->
            <div class="col l8 m8 s12 blue dh">
                <div class="col s12 blue dh valign-wrapper">
                    <div class="container btn-lost center-align" onclick="window.location.href='cadastroAnimalPerdido.html'">
                        <p class="center-align">perdi meu pet</p>                        
                    </div> 
                </div>
            </div>

            <!-- content login -->
            <div class="col l4 m4 s12 white dh">
                <form class="col s12" action="principalPage.html" th:action="@{/Dashboard}" th:object="${credenciais}" method="post" onsubmit="return validarPreenchimento(this);">
                    <div class="col s12 dh valign-wrapper">
                        <div class="container center-align">
                            <div class="input-field col s12">
                                <input id="login" type="text" class="validate" th:field="*{login}">
                                <label for="login">usuário</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="senha" type="password" class="validate" th:field="*{senha}">
                                <label for="senha">senha</label>
                            </div>
                            <div class="container">
                                <button type="submit" class="waves-effect waves-light btn-small btn-width">entrar</a>
                                <button class="waves-effect waves-light btn-small btn-width">ser caçador</button>
                            </div>
                        </div> 
                    </div>
                </form>
            </div>
        </div>
    </div>
        
    
    <script type="text/javascript" src="../js/materialize.js"></script>
</body>

</html>