<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta>
<title>lostpet | login</title>
<link rel="stylesheet" type="text/css" href="../static/css/lost.css">
<link rel="stylesheet" type="text/css" href="../static/css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="area">
		<dia class="area_pesquisa">
			<form class="form_pesquisa">
				<input type="text" class="input_text" placeholder="buscar região">
				<input type="submit" value="buscar" class="btn">
			</form>
		</dia>
	</div>
	<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>