<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>
<meta charset="UTF-8"/>
</head>
<body>
	<form action="#" th:action="@{/login}" th:object="${credenciais}" method="post" onsubmit="return validarPreenchimento(this);">
		<div>
			<label>Login:</label> <input type="text" th:field="*{login}" id="login">
		</div>
		<div>
			<label>Senha:</label> <input type="text" th:field="*{senha}" id="senha">
		</div>
		<div>
			<input type="submit" value="Entrar" />
		</div>
	</form>
</body>

<script type="text/javascript">
function validarPreenchimento(form) {
	var validou = false;
	
	var campoLogin = form.login;
	var campoSenha = form.senha;
	var login = campoLogin.value;
	var senha = campoSenha.value;
	
	if(login.length == 0){
		alert("O campos LOGIN não foi preenchido");
		campoLogin.focus();
	}
	else if(senha.length == 0){
		alert("O campo SENHA não foi preenchido");
		campoSenha.focus();
	}
	else{
		validou = true;
	}
	
	return validou;
}
</script>

</html>
