<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta>
<title>lostpet | login</title>
<link rel="stylesheet" type="text/css" href="../css/lost.css">
<link rel="stylesheet" type="text/css" href="../css/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="area">
		<dia class="area_pesquisa">
			<form class="form_pesquisa">
				<input type="text" class="input_text" placeholder="buscar região">
				<input type="submit" value="buscar" class="btn">
			</form>
		</dia>
		<div class="area_listagem">
			<div class="quadro_pet">
				<div class="area_foto"><img src="" alt="" class="foto_pet"></div> 

				<table>
					<tr>
						<td class="desc_pet">nome</td>
					</tr>
					<tr>
						<td class="desc_info_pet">tobias</td>
					</tr>

					<tr>
						<td class="desc_pet">desaparecimento</td>
					</tr>
					<tr>
						<td class="desc_info_pet">21/03/2019</td>
					</tr>

					<tr>
						<td class="desc_pet">região</td>
					</tr>
					<tr>
						<td class="desc_info_pet">guaianazes-sp</td>
					</tr>

					<tr>
						<td>
							<button class="btn_info">+</button>
						</td>
					</tr>


				</table>

				
			</div>

						

		</div>
	</div>
	<script type="text/javascript" src="../js/login.js"></script>
</body>
</html>