<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta>
<title>lostpet | login</title>
<link rel="stylesheet" type="text/css" href="../css/materialize.css">
<link rel="stylesheet" type="text/css" href="../css/custom.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<div id="page_load">
		<div class="gif"></div>
	</div>
	<div class="container dh">
		<div class="row dm-b">
			<nav>
				<div class="nav-wrapper">
					<form>
						<div class="input-field">
							<input id="search" class="input-search" placeholder="pesquisar" type="search" required>
							<label class="label-icon" for="search"><i class="material-icons">search</i></label>							
							<i class="material-icons" id="btn_abrir_nova_view">list</i>
						</div>
					</form>					
				</div>
			</nav>
		</div>
		<div class="row">
			<div id="map_area" class="area_listagem_on">
				<div class="map_style" id="mapContainer"></div>
			</div>
			<div class="display-flex area_listagem_off" id="quadros">
				<div class="card-lost dp-f">
					<div class="area_foto">
						<img src="../img/cat.jpg" alt="" class="foto_pet">
					</div>
					<div>
						<table>
							<tr><td class="desc_pet">nome</td></tr>
							<tr><td class="desc_info_pet">murilo</td></tr>
							<tr><td class="desc_pet">desaparecimento</td></tr>
							<tr><td class="desc_info_pet">01/02/2019</td></tr>
							<tr><td class="desc_pet">região</td></tr>
							<tr><td class="desc_info_pet">itaquera-sp</td></tr>
						</table>		
					</div>
					<div class="btn_info">+</div>
				</div>
				
				<div class="card-lost dp-f">
						<div class="area_foto ">
							<img src="../img/cat.jpg" alt="" class="foto_pet">
						</div>
						<div>
							<table>
								<tr><td class="desc_pet">nome</td></tr>
								<tr><td class="desc_info_pet">murilo</td></tr>
								<tr><td class="desc_pet">desaparecimento</td></tr>
								<tr><td class="desc_info_pet">01/02/2019</td></tr>
								<tr><td class="desc_pet">região</td></tr>
								<tr><td class="desc_info_pet">itaquera-sp</td></tr>
							</table>		
						</div>
						<div class="btn_info">+</div>
					</div>

					<div class="card-lost dp-f">
							<div class="area_foto ">
								<img src="../img/cat.jpg" alt="" class="foto_pet">
							</div>
							<div>
								<table>
									<tr><td class="desc_pet">nome</td></tr>
									<tr><td class="desc_info_pet">murilo</td></tr>
									<tr><td class="desc_pet">desaparecimento</td></tr>
									<tr><td class="desc_info_pet">01/02/2019</td></tr>
									<tr><td class="desc_pet">região</td></tr>
									<tr><td class="desc_info_pet">itaquera-sp</td></tr>
								</table>		
							</div>
							<div class="btn_info">+</div>
						</div>
				
			</div>
		</div>
	</div>
	
	<script src="../js/main.js"></script>
	<script
  src="http://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
  <script src="../js/main.js"></script>
</body>
</html>