<!DOCTYPE html5>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta>
	<title>lostpet | login</title>
	<link rel="stylesheet" type="text/css" href="../css/materialize.css">
	<link rel="stylesheet" type="text/css" href="../css/custom.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
	<script type="text/javascript" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
	<div id="page_load">
		<div class="gif"></div>
	</div>

	<div class="content-container dh">
		<div class="container-div dh popup-off" id="modal">
			<div class="col l12 m12 s12">
				<div class="col l12 m12 s12 poup-return" onclick="openModal()">voltar</div>
				<div class="row dp content-popup marginNone">
					<div class="col l12 m12 s12">
						<div class="row marginNone">
							<div class="row">
							<label th:value="nome"></label>
								<h2 class="title-popup" id="nome_animal_info_title">tobias</h2>
								<h5 class="subtitle-popup" id="tipo_animal_info_title">cachorro</h5>
							</div>
							<div class="row marginNone content-info-pet ">
								<div class="col l4 m4 s12 height-popup-ctx valign-wrapper">
									<img class="foto-register-info responsive-img" src="../img/cat.jpg">								
								</div>
								<div class="col l8 m8 s12 height-popup-ctx valign-wrapper">
									<span>
										<h5>nome: <b id="nome_animal_info">tobias</b></h5>
										<h5>desaparecimento: <b id="desaparecimento_animal_info">28/04/2019</b></h5>
										<h5>regiao: <b id="regiao_animal_info">itaquera-sp</b></h5>
									</span>
								</div>
							</div>
							<div class="col l12 m12 s12 map-view-info-off" id="map-view-info" style="width:100% !important">
								<div class="map_style" id="mapContainerView"></div>
							</div>	
						</div>

					</div>


				</div>
				
			</div>


		</div>
		<div class="container-div dh">
			<div class="container dh">
				<div class="row dm-b">
					<nav>
						<div class="nav-wrapper">
							<form>
								<div class="input-field">
									<input id="search" class="input-search" placeholder="pesquisar" type="search" >
									<label class="label-icon" for="search"><i class="material-icons">search</i></label>							
									<i class="material-icons" id="btn_abrir_nova_view" style="right: 51%;">list</i>
								</div>
							</form>
						</div>
					</nav>
				</div>
				<div class="row">
					<div id="map_area" class="area_listagem_on">
						<div class="map_style" id="mapContainer"></div>
					</div>
					<div class="display-flex area_listagem_off" id="quadros">
						
						<!--<div class="card-lost dp-f">
							<div class="area_foto ">
								<img src="../img/cat.jpg" alt="" class="foto_pet">
							</div>
							<div>
								<table>
									<tr>
										<td class="desc_pet">nome</td>
									</tr>
									<tr>
										<td class="desc_info_pet">murilo</td>
									</tr>
									<tr>
										<td class="desc_pet">desaparecimento</td>
									</tr>
									<tr>
										<td class="desc_info_pet">01/02/2019</td>
									</tr>
									<tr>
										<td class="desc_pet">região</td>
									</tr>
									<tr>
										<td class="desc_info_pet">itaquera-sp</td>
									</tr>
								</table>
							</div>
							<div class="btn_info" onclick="openModal()">+</div>
						</div>-->

					</div>
				</div>
			</div>
		</div>
	</div>

<script src="http://code.jquery.com/jquery-3.3.1.min.js"
		integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
	<script src="../js/main.js"></script>
</body>

</html>